@font-face {
  font-family: "Cereal-Book";
  src: url("../assets/font/AirbnbCereal-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Cereal-Light";
  src: url("../assets/font/AirbnbCereal-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Cereal-Bold";
  src: url("../assets/font/AirbnbCereal-ExtraBold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.yellowTruck {
  color: #FFFC74; }

.blueTruck {
  color: #00A0F1; }

.redTruck {
  color: #FF0023; }

.greenTruck {
  color: #00FD6F; }

#map {
  height: 100%; }

html, body {
  height: 100%;
  margin: 0;
  padding: 0; }

.holder {
  position: absolute;
  top: 0px;
  left: 20px;
  max-width: 315px;
  overflow: auto;
  max-height: 100vh;
  padding-top: 20px;
  padding-bottom: 20px; }

.container-form {
  padding: 15px;
  background: #FFFFFF;
  -webkit-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px; }

.search {
  width: 300px;
  height: 220px; }
  .search .search-height {
    margin-top: 5px; }
  .search .today-btn {
    height: 40px;
    width: 280px;
    border: none;
    background-color: white;
    -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.19);
            box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    border: 1px solid white; }
  .search p {
    display: block;
    color: black;
    line-height: 40px;
    margin-left: 10px;
    margin-right: 10px; }
  .search .select-date {
    width: 100%;
    height: 40px;
    border: none;
    background-color: white;
    -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.19);
            box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    text-align: center; }
  .search .search-btn {
    float: right;
    height: 42px;
    width: 42px;
    border-radius: 21px;
    border: none;
    margin-top: 20px;
    background-color: #0081BF;
    -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.19);
            box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.19); }
  .search .search-btn:hover {
    cursor: pointer;
    background-color: #A0D5FF; }
  .search i {
    color: white; }
  .search button:focus {
    outline: 0; }
  .search input:focus {
    outline: 0; }

.filter {
  width: 300px;
  margin-top: 30px; }
  .filter h6 {
    margin-bottom: 10px; }
  .filter p {
    color: black;
    line-height: 24px; }
  .filter .truck-margin {
    margin-right: 10px;
    margin-left: 10px; }
  .filter ul {
    list-style: none;
    padding: 0;
    margin: 0; }
  .filter li {
    font-size: 12px; }
  .filter legend {
    font-size: 14px;
    font-weight: bold;
    width: 90px;
    text-align: center; }
  .filter fieldset {
    border: 1px groove gray;
    margin-bottom: 10px; }
  .filter i {
    margin-left: 2px; }

.routes {
  width: 300px;
  margin-top: 20px;
  bottom: 10px; }
  .routes .region-shape {
    line-height: 50px;
    text-align: center;
    color: white;
    width: 90px;
    height: 50px;
    -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.19);
            box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    cursor: pointer; }
  .routes .region-selection-section {
    margin-left: 10px;
    /* optional hover classes used with anmiation */ }
    .routes .region-selection-section a {
      color: white;
      text-decoration: none;
      position: relative; }
    .routes .region-selection-section a:after {
      text-decoration: none;
      position: absolute;
      content: '';
      height: 2px;
      /* adjust this to move up and down. you may have to adjust the line height of the paragraph if you move it down a lot. */
      bottom: 10px;
      margin: 0 auto;
      left: 0;
      right: 0;
      width: 0%;
      background: white;
      /* optional animation */
      -webkit-transition: 0.2s;
      transition: 0.2s; }
    .routes .region-selection-section a:hover:after {
      text-decoration: none;
      width: 60%; }
  .routes .region-color-aarhus {
    background-color: #C51F5C; }
  .routes .region-color-ring {
    margin-left: 5px;
    margin-right: 5px;
    background-color: #46AFD7; }
  .routes .region-color-ulfborg {
    background-color: #00A573; }
  .routes .region-color-vide {
    background-color: #008CC6; }
  .routes .region-color-viborg {
    margin-left: 5px;
    margin-right: 5px;
    background-color: #009AA4; }
  .routes .region-color-varde {
    background-color: #AFB259; }
  .routes .margin-top {
    margin-top: 15px; }
  .routes .margin-top-20 {
    margin-top: 20px; }
  .routes ul {
    list-style: none;
    padding: 0;
    margin: 0; }
  .routes .truck-shape {
    line-height: 50px;
    text-align: center;
    color: black;
    width: 140px;
    height: 50px;
    margin: 5px;
    -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.19);
            box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    cursor: pointer; }
  .routes .truck-selection-section {
    /* optional hover classes used with anmiation */ }
    .routes .truck-selection-section a {
      color: white;
      text-decoration: none;
      position: relative; }
    .routes .truck-selection-section a:after {
      text-decoration: none;
      position: absolute;
      content: '';
      height: 2px;
      /* adjust this to move up and down. you may have to adjust the line height of the paragraph if you move it down a lot. */
      bottom: 12px;
      margin: 0 auto;
      left: 0;
      right: 0;
      width: 0%;
      background: black;
      /* optional animation */
      -webkit-transition: 0.2s;
      transition: 0.2s; }
    .routes .truck-selection-section a:hover:after {
      text-decoration: none;
      width: 50%; }
  .routes .destinations-list {
    display: block; }
    .routes .destinations-list i {
      margin-right: 5px;
      font-size: 14px; }

.apply-filter-button {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  border: none;
  color: black;
  border: 1px solid gray;
  background-color: white;
  padding: 5px 15px;
  border-radius: 10px; }

.apply-filter-button:hover {
  background-color: lightgray;
  cursor: pointer; }

.triple-toggle fieldset {
  border: none;
  padding: 0px;
  margin: 0px; }

.triple-toggle legend {
  padding: 0px;
  margin: 0px; }

.triple-toggle label {
  cursor: pointer;
  display: inline;
  padding: 2px 10px;
  text-align: center;
  background-color: #e9e9e9;
  font-size: 14px;
  line-height: 28px;
  border: 2px solid white;
  border-radius: 5px; }

.triple-toggle label.selected {
  background-color: #008CC6;
  color: white; }

.triple-toggle label.allocated-color.selected {
  background-color: #00A06A; }

.triple-toggle label.notAllocated-color.selected {
  background-color: red; }

.triple-toggle input[type='radio'] {
  position: absolute;
  top: -9999px;
  left: -9999px; }

.popup-content p {
  display: inline;
  color: black; }

.popup-content .details, .popup-content label {
  display: inline;
  font-weight: bold;
  font-weight: bold;
  font-size: 15px; }

.popup-content button {
  width: 200px;
  line-height: 30px;
  -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  text-align: center;
  color: #2a2a2a;
  border: 3px solid lightblue;
  font-size: 20px;
  background-color: white;
  margin-top: 10px; }

h2 {
  font-family: 'Cereal-Book', Helvetica,Arial,sans-serif;
  text-transform: uppercase;
  font-size: 28px;
  color: #474953; }

h3 {
  font-family: 'Cereal-Book', Helvetica,Arial,sans-serif;
  font-size: 28px;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px; }

p {
  font-family: 'Cereal-Book', Helvetica,Arial,sans-serif;
  font-size: 15px;
  color: white; }

.flex {
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }
  .flex.center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -moz-justify-content: center;
    justify-content: center; }
    .flex.center > * {
      margin: 0 10px; }
  .flex.absolute-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -moz-align-items: center;
    align-items: center;
    height: 100%; }
    .flex.absolute-center > * {
      margin: 0 10px; }
  .flex.vertical-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -moz-align-items: center;
    align-items: center;
    height: 100%; }
  .flex.flex-grid {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-right: -20px; }
    .flex.flex-grid.very-small-grid {
      margin-left: -5px;
      margin-right: -5px; }
      .flex.flex-grid.very-small-grid > * {
        padding: 0 5px; }
    .flex.flex-grid.small-grid {
      margin-left: -10px;
      margin-right: -10px; }
      .flex.flex-grid.small-grid > * {
        padding: 0 10px; }
    .flex.flex-grid.medium-grid {
      margin-left: -15px;
      margin-right: -15px; }
      .flex.flex-grid.medium-grid > * {
        padding: 0 15px; }
    .flex.flex-grid.big-grid {
      margin-left: -45px;
      margin-right: -45px; }
      .flex.flex-grid.big-grid > * {
        padding: 0 45px; }
  .flex.between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -moz-justify-content: space-between;
    justify-content: space-between; }
  .flex.vertical {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
  .flex.wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .flex.reverse {
    -webkit-box-direction: reverse;
    -webkit-box-orient: horizontal;
    -moz-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; }
  @media (max-width: 768px) {
    .flex.half {
      -webkit-box-direction: normal;
      -webkit-box-orient: vertical;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; } }
  .flex.half > * {
    width: 50%; }
    @media (max-width: 768px) {
      .flex.half > * {
        width: 100%; } }
  .flex.third > * {
    width: 33.33333%; }
