<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
        crossorigin="anonymous">

    <link rel="stylesheet" href="/assets/app.css">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <title>Freight Dashboard</title>
</head>

<body>

    <div class="container popup-content">
        <div class="row justify-content-md-center">
            <div class="col-6">
                <h4>Assign to route:</h4>
                <label for="datepicker">Delivery date:</label>
                <input type="text" name="datefilter" value="" class="select-date" id="datepicker" placeholder='{{pinDate}}' />

                <br>

                <label for="region">Select region:</label>
                <select id="region">
                    <option>Aarhus</option>
                    <option>Ringkøbing</option>
                    <option>Ulfborg</option>
                    <option>Videbæk</option>
                    <option>Viborg</option>
                    <option>Varde</option>
                </select>

                <br>

                <label for="truck">Select truck:</label>
                <select id="truck">
                    <option>Truck 1</option>
                    <option>Truck 2</option>
                    <option>Truck 3</option>
                    <option>Truck 4</option>
                </select>

                <br>

                <label for="message">Message to driver</label>
                <br>
                <textarea id="message"></textarea>
            </div>
            <div class="col-6">
                <h4>Client details:</h4>
                <p class="details">Order number:</p>
                <br>
                <p>########</p>
                <br>
                <p class="details">Name:</p>
                <br>
                <p>John Appleseed</p>
                <br>
                <p class="details">Contact number:</p>
                <br>
                <p>########</p>
                <br>
                <p class="details">Address:</p>
                <br>
                <p>Line 1</p>
                <br>
                <p>Line 1</p>
                <br>
                <p>Line 1</p>
                <br>
                <p>Line 1</p>
            </div>
        </div>

        <div class="row justify-content-md-center">
            <button>Save</button>
        </div>

    </div>

</body>

</html>