h2{
    font-family: 'Cereal-Book', Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    font-size: 28px;
    color: #474953;   
}

h3{
    font-family: 'Cereal-Book', Helvetica,Arial,sans-serif;
    font-size: 28px;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

p{
    font-family: 'Cereal-Book', Helvetica,Arial,sans-serif;
    font-size: 15px;
    color: white;
}
