.flex {
    @include flexbox;
      &.center {
          @include justify-content(center);
          >* {
              margin: 0 10px;
          }
      }
      &.absolute-center {
          @include justify-content(center);
          @include align-items(center);
          height: 100%;
          >* {
              margin: 0 10px;
          }
      }
      &.vertical-center {
        @include align-items(center);
        height: 100%;
      }
      &.flex-grid {
          @include flex-wrap(wrap);
          margin-left: -20px;
          margin-right: -20px;
          &.very-small-grid {
            margin-left: -5px;
            margin-right: -5px;
            >* {
                padding: 0 5px;
            }
          }
          &.small-grid {
              margin-left: -10px;
              margin-right: -10px;
              >* {
                  padding: 0 10px;
                  // @include media-query('medium-down') {
                  //   @include flex-direction(column);
                  //   width: 100%;
                  // }
              }
          }
          &.medium-grid {
              margin-left: -15px;
              margin-right: -15px;
              >* {
                  padding: 0 15px;
              }
          }
          &.big-grid {
              margin-left: -45px;
              margin-right: -45px;
              >* {
                  padding: 0 45px;
              }
          }
      }
      &.between {
        @include justify-content(space-between);
      }
      &.vertical {
        @include flex-direction(column);
      }
      &.wrap {
        @include flex-wrap(wrap);
      }
      &.reverse {
        @include flex-direction(row-reverse);
      }
      &.half {
          @media (max-width: 768px) {
            @include flex-direction(column);
          }
          >* {
              width: 50%;
              @media (max-width: 768px) {
                  width: 100%;
              }
          }
      }
      &.third {
          // @include media-query('small') {
          //   @include flex-direction(column);
          // }
          >* {
              width: 33.33333%;
              // @include media-query('medium-down') {
              //   width: 100%;
              // }
          }
      }
  }
  