
@import "includes/mixins";
@font-face {
    font-family: "Cereal-Book";
    src: url("../assets/font/AirbnbCereal-Book.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Cereal-Light";
    src: url("../assets/font/AirbnbCereal-Light.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Cereal-Bold";
    src: url("../assets/font/AirbnbCereal-ExtraBold.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}


// truck colors
.yellowTruck{
    color: #FFFC74;
}
.blueTruck{
    color: #00A0F1;
}
.redTruck{
    color: #FF0023;
}
.greenTruck{
    color: #00FD6F;
}

// ///////////////////////////////////// //
#map {
    height: 100%;
}
    
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

////
.holder{
    position: absolute;
    top: 0px;
    left: 20px;

    max-width: 315px;

    overflow: auto;
    max-height: 100vh;

    padding-top:20px;
    padding-bottom: 20px;
}
.container-form{
    padding: 15px;
    

    background: #FFFFFF;
    box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.12);
    border-radius: 5px;
}

.search{
    width: 300px;
    height: 220px;  

    .search-height{
        margin-top: 5px;
    }

    .today-btn{
        height: 40px;
        width: 280px;
        border: none;
        background-color: white;
        
        box-shadow: 0 0 6px 0 rgba(0,0,0,0.19);
        border-radius: 5px;

        border: 1px solid white;
    }


    p{
        display: block;
        color: black;
        line-height: 40px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .select-date{
        width: 100%;
        height: 40px;
        border:none;

        background-color: white;
        
        box-shadow: 0 0 6px 0 rgba(0,0,0,0.19);
        border-radius: 5px;

        text-align: center;
    }

    .search-btn{
        float: right;

        height: 42px;
        width: 42px;
        border-radius: 21px;
        border: none;

        margin-top: 20px;

        background-color: #0081BF;

        box-shadow: 0 0 6px 0 rgba(0,0,0,0.19);
    }

    .search-btn:hover{
        cursor: pointer;
        background-color: #A0D5FF;
    }

    i{
        color: white;
    }


    button:focus {
        outline:0;
    }
    input:focus{
        outline:0;
    }

}

.filter{
    width: 300px;
    // height: 360px;

    margin-top: 30px;

    h6{
        margin-bottom: 10px;
    }

    p{
        color: black;
        line-height: 24px;
    }

    .truck-margin{
        margin-right: 10px;
        margin-left: 10px;
    }

    ul{
        list-style: none;
        padding: 0;
        margin: 0;
    }
    li{
        font-size: 12px;
    }

    legend { 
        font-size: 14px;
        font-weight: bold; 
        width: 90px;
        text-align: center;
      } 
      

    fieldset { 
        border: 1px groove gray;

        margin-bottom: 10px;
    }

    i{
        margin-left:2px;
    }
}

.routes{
    width: 300px;

    margin-top: 20px;
    bottom:10px;


    .region-shape{
        line-height: 50px;
        text-align: center;
        color: white;

        width: 90px;
        height: 50px;


        box-shadow: 0 0 6px 0 rgba(0,0,0,0.19);
        border-radius: 5px;

        cursor: pointer;



     
    }

    .region-selection-section{
        margin-left: 10px;

        a {
            color:white;
            text-decoration: none; 
            position: relative; 
        }

        a:after{
            text-decoration: none; 
            position: absolute;
            content: '';
            height: 2px;
        /* adjust this to move up and down. you may have to adjust the line height of the paragraph if you move it down a lot. */
            bottom: 10px;
            margin: 0 auto;
            left: 0;
            right: 0;
            width: 0%;
            background: white;
        /* optional animation */
            transition: 0.2s;
            // margin-left: 25px!important;

            
        }
        /* optional hover classes used with anmiation */
        a:hover:after {
            text-decoration: none; 
            width: 60%;
        }
    }

    .region-color-aarhus{
        // margin-left: 10px;
        background-color: #C51F5C;
    }

    .region-color-ring{
        margin-left: 5px;
        margin-right: 5px;
        background-color: #46AFD7;
    }

    .region-color-ulfborg{
        background-color: #00A573;
    }

    .region-color-vide{
        // margin-left: 10px;
        background-color: #008CC6;
    }

    .region-color-viborg{
        margin-left: 5px;
        margin-right: 5px;
        background-color: #009AA4;
    }

    .region-color-varde{
        background-color: #AFB259;
    }

    .margin-top{
        margin-top: 15px;
    }
    .margin-top-20{
        margin-top:20px;
    }

    ul{
        list-style: none;
        padding: 0;
        margin: 0;
    }


    .truck-shape{
        line-height: 50px;
        text-align: center;
        color: black;

        width: 140px;
        height: 50px;

        margin: 5px;


        box-shadow: 0 0 6px 0 rgba(0,0,0,0.19);
        border-radius: 5px;
        cursor: pointer;

    }

    .truck-selection-section{
        a {
            color:white;
            text-decoration: none; 
            position: relative; 
        }

        a:after{
            text-decoration: none; 
            position: absolute;
            content: '';
            height: 2px;
        /* adjust this to move up and down. you may have to adjust the line height of the paragraph if you move it down a lot. */
            bottom: 12px;
            margin: 0 auto;
            left: 0;
            right: 0;
            width: 0%;
            background: black;
        /* optional animation */
            transition: 0.2s;
            // margin-left: 25px!important;

            
        }
        /* optional hover classes used with anmiation */
        a:hover:after {
            text-decoration: none; 
            width: 50%;
        }
    }

    .destinations-list{
        display: block;
        
        i{
            margin-right: 5px;
            font-size: 14px;
        }

    }
}


.apply-filter-button{
    margin: auto;
    display: flex;

    margin-top: 10px;
    border: none;
    color: black;
    border: 1px solid gray;
    background-color: white;
    padding: 5px 15px;
    border-radius: 10px;
}
.apply-filter-button:hover{
    background-color: lightgray;
    cursor: pointer;
}

/////////////////////////////



