.popup-content{

    p {
        display:inline;
        color: black;

    }

    .details, label{
        display:inline;
        font-weight: bold;
        font-weight: bold;
        font-size: 15px;
    }


    button{
        width: 200px;
        line-height: 30px;
        box-shadow: 0 0 6px 0 rgba(0,0,0,0.19);
        border-radius: 5px;
        text-align: center;
        color: rgb(42, 42, 42);
        border: 3px solid lightblue;
        font-size: 20px;
        background-color: white;

        margin-top: 10px;
    }
}