.triple-toggle{
  fieldset {
      border: none;
      padding: 0px;
      margin: 0px;
  }
  legend {
      padding: 0px;
      margin: 0px;
  }
  label {
      cursor: pointer;
      display: inline;
      padding: 2px 10px;
      text-align: center;
      background-color: #e9e9e9;
      // width: 100px!important;
      font-size: 14px;
      line-height: 28px;

      border: 2px solid white;

      border-radius: 5px;

  }
//   label:first-child {
//       border-top-left-radius: 10px;
//       border-bottom-left-radius: 10px;
//   }
//   label:last-child {
//       border-top-right-radius: 10px;
//       border-bottom-right-radius: 10px;
//   }
  label.selected {
      background-color: #008CC6;
      color: white;
  }
  label.allocated-color.selected {
    background-color: #00A06A;
}
  label.notAllocated-color.selected {
      background-color: red;
  }
  input[type='radio'] {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
}






